@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
